
header{
    background-color: white;
}
nav{
    display: flex;
    text-align: center;
    justify-content:center;
    background-color: tan;
    height: 50px;
    
}
nav a{
    text-decoration: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    align-self: center;
}
 a:hover{
    color:blue;    
 }

#avatar{   
    margin-left: auto;
    margin-right: 500px;
    margin-top: auto;
    margin-bottom: auto;
    justify-items: left;
    display:box;
    justify-content:left;  
}
p{
    font-size: 20px;
    color:brown;
    text-align: center;
    text-align-last: center; 
}


